<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span jhiTranslate="bugzee3App.ticket.detail.title">Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.title">Title</span></dt>
        <dd>
          <span>{{ ticket.title }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.description">Description</span></dt>
        <dd>
          <span>{{ ticket.description }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.dueDate">Due Date</span></dt>
        <dd>
          <span>{{ ticket.dueDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.date">Date</span></dt>
        <dd>
          <span>{{ ticket.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bugzee3App.Status.' + ticket.status }}">{{ ticket.status }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bugzee3App.Type.' + ticket.type }}">{{ ticket.type }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.priority">Priority</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bugzee3App.Priority.' + ticket.priority }}">{{ ticket.priority }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.project">Project</span></dt>
        <dd>
          <div *ngIf="ticket.project">
            <a [routerLink]="['/project', ticket.project.id, 'view']">{{ ticket.project.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.assignedTo">Assigned To</span></dt>
        <dd>
          <span>{{ ticket.assignedTo?.login }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.reportedBy">Reported By</span></dt>
        <dd>
          <span>{{ ticket.reportedBy?.login }}</span>
        </dd>
        <dt><span jhiTranslate="bugzee3App.ticket.label">Label</span></dt>
        <dd>
          <span *ngFor="let label of ticket.labels; let last = last">
            <a [routerLink]="['/label', label.id, 'view']">{{ label.label }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
